.footer {
  background-color: var(--hero-background-color);
  padding: 60px 0;

  &__contacts {
    margin-right: 70px;
  }

  &__contact-adress {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contact-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-text-color);
    text-decoration: none;
    display: block;
    padding: 0;
    margin: 0;
    transition: color var(--animation);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contact-item {
    margin-bottom: 9px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer .container {
  display: flex;
  align-items: baseline;
}
