.header-contact {
  &__list {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767.98px) {
      display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      flex-direction: column;
      align-content: center;
    }
  }

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--animation);
  }

  &__icon {
    fill: #757575;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    transition: fill var(--animation);
  }
}

.header {
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767.98px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (max-width: 767.98px) {
      max-width: 767px;
    }
  }
}

.header-contact__link:hover .header-contact__icon,
.header-contact__link:focus .header-contact__icon {
  fill: var(--accent-color);
}
