/* Оформлення заголовків */
.section {
  width: 500px;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (min-width: 480px) {
    width: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 50px;
  }
}
